@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}
